/*-------------------------------------
ページ全体
-------------------------------------*/
body {
    margin: 0;
    width: 98vw;
    overflow-x: hidden;
        
    
    
    
}

a {
    text-decoration: none;
    
    
}

/*-------------------------------------
ヘッダー
-------------------------------------*/
header {
    
    
    
}

/*-------------------------------------
メニュー
-------------------------------------*/
#menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FF1493;
    
    /*透過*/
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    
    
    
}

#menu a {
    padding: 0 10px;
    
    
    
}

/*-------------------------------------
内容全体
-------------------------------------*/
#page_body {
    margin: 0 auto;
    width: 98%;
    
    
    
}

#page_body>section {
    width: 100%;
    
    
    
    
}

/*-------------------------------------
メンバー
-------------------------------------*/
#member {
   
    
    
    
    
    
}

#member img{
    
    
    
}

/*状況画像（在室等）*/
img.situ {
    position: relative;
    top: 0px;
    left: -60px;
    margin-right: -60px;
    
    
    
    
}
#member name {
    display: none;
    
}

/*-------------------------------------
予定
-------------------------------------*/
#schedule {
    
    
    
    
    
}

/*-------------------------------------
制作物
-------------------------------------*/
#products {
    
    
    
    
    
    
}

/*-------------------------------------
SNS
-------------------------------------*/
#sns {
    
    
    
    
    
    
    
    
}

/*-------------------------------------
イベント
-------------------------------------*/
#event {
    
    
    
    
    
    
}

/*-------------------------------------
沿革
-------------------------------------*/
#history {
    
    
    
    
    
    
}

/*-------------------------------------
リンク
-------------------------------------*/
#link {
    
    
    
    
    
    
}









































