body{
    width: 8em;
    height: 12em;
    //position: absolute;
    //background-color: deepskyblue;  					/*内容全体の背景色*/
    margin: 0 auto;
    text-align:center;							/* テキストをセンター揃え */
    
    
}

h1 {
    font-size: 100%;
    margin: 0 auto;
    
    
}

ul {
    margin: 0;
    padding: 0;
    
    
}

li {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    
}